[submodule "dawn"]
	path = external/dawn
	url = https://github.com/google/dawn.git
	branch = chromium/7559 # Chrome 144 
	shallow = true
[submodule "imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui.git
